@{
}
<center>
    <h1 style="font-family: 'Roboto Mono', sans-serif; color: rebeccapurple; font-weight: 900">About Us</h1>
        <br />
    <section style="font-family: 'Lato', sans-serif">
        <p>
            <h3>
                Welcome to our movie store! We are passionate about films and dedicated to providing you with a wide selection of movies for your entertainment.
            </h3>
        </p>

        <p><h3>At our store, you'll find the latest blockbusters movies in between. Our aim is to cater to diverse tastes and ensure that every movie enthusiast can find something they love.</h3></p>

        <p><h3>The benefit of this websiite is that you don't need to have an account. You can freely watch movies and get the latest updates.</h3></p>
       
        </section>

        <br />
    <section style="margin-bottom: 20px">
            <div>
            <h2 style="font-family: 'Roboto Mono', sans-serif; color: rebeccapurple; font-weight: 900">If you have any queries then contact me.</h2>
            <br />
            <div style="font-family: 'Lato', sans-serif">
                <h3><i class="fa fa-envelope"></i>   Email: rfarzana70@gmail.com</h3>
                <h3><i class="fa fa-phone"></i>   Phone No: +8801234567890</h3>
                </div>
            </div>
        </section>
</center>